# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/
venv310/

# Django
suraksha_backend/db.sqlite3
suraksha_backend/media/
local_settings.py
suraksha_backend/static/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
suraksha_app/build/
suraksha_app/.vscode/
suraksha_app/.idea/
suraksha_app/*.iml
suraksha_app/android/app/src/main/res/values/google-services.json
